<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon" href="${ctxPath}/static/faviconTitle.ico"/>
</head>
<body style="margin: 0">
<div style="height: 700px;width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
    <h1 style="color: #50C9A0">恭逸官网提示您</h1>
    <div class="container" style="height: 300px;text-align: center;display: flex;flex-direction: column;justify-content: center;width: 600px;border: 1px solid #090908;">
        <h1>对不起，您访问页面不存在!</h1>
        <a class="btn btn-info" href="javascript:history.go(-1)">返回</a>
    </div>
</div>

<!-- //here ends scrolling icon -->

</body>
</html>