<div class="banner-top" style="margin-top: -64px">
    <div class="slider">
        <div class="callbacks_container">
            <div class="jarallax"
                 style="background: url('/static/images/pc/productDetail/banner.jpg') no-repeat 0 0;background-size: cover ">
                <div class="agileinfo-dot">
                    <div class="container" style="height: 570px">

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <script src="${ctxPath}/static/js/responsiveslides.min.js"></script>
        <!--banner Slider starts Here-->
    </div>
</div>