<!DOCTYPE html>
<html lang="en">
<head>
    <title>企业分站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="${ctxPath}/static/faviconTitle.ico"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="${ctxPath}/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="${ctxPath}/static/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="${ctxPath}/static/css/font-awesome.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/zhyd.comment.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/zhyd.core.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="${ctxPath}/static/js/jquery-1.11.1.min.js"></script>
    <script src="${ctxPath}/static/js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

@include("../_header.html",{current:''}){}
<script>
    var topmenu = $("#topmenu"); //得到导航对象
    var mainmenu = $("#mainmenu"); //得到导航对象
    var win = $(window); //得到窗口对象
    var sc = $(document);//得到document文档对象。
    bindScroll();
    win.scroll(function () {
        console.log("------------",sc.scrollTop());
        bindScroll();
    });
    function bindScroll(){
        if (sc.scrollTop() >= 100) {
            if (!mainmenu.hasClass("transparent")) {
                topmenu.animate({opacity: '0'}, 0);
                mainmenu.addClass('transparent');
                if (win.width() > 768) {
                    mainmenu.animate({top: '0', 'z-index': 1000}, 1);
                }
            }
        } else {
            topmenu.animate({opacity: '1'}, 0);
            mainmenu.removeClass('transparent');
            if (win.width() > 768) {
                mainmenu.animate({top: '30', 'z-index': 998}, 1);
            }
        }
    }
</script>

<div class="container-fluid" style="background-color: #efefef;">
    <div class="container" style="margin-top: 50px" >
        <div style="margin-top: 30px">
            <strong>主营地区：</strong>
            <a href="/?area=北京" ><span style="color: black">北京</span></a> &emsp;
            <a href="/?area=上海"  >上海</a> &emsp;
            <a href="/?area=广东"  >广东</a> &emsp;
            <a href="/?area=深圳"  >深圳</a>
            <a href="/">重庆</a>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div>
            <div style="margin-bottom: 10px"><strong >华南地区</strong></div>
            <table class="table-responsive">
                @for(southCity in southCityList){
                <tr style="margin-top: 10px">
                    <th width="65px">${southCity.province}：</th>
                    <td >
                        @for(city in southCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div>
            <div style="margin-bottom: 10px"> <strong>华北地区</strong></div>
            <a href="/?area=北京" ><strong><span style="color:  #303439">北京</span></strong></a> &emsp;
            <a href="/?area=天津" ><strong><span style="color:  #303439">天津</span></strong></a> &emsp;
            <table class="table-responsive">
                @for(northCity in northCityList){
                <tr>
                    <th width="65px">${northCity.province}：</th>
                    <td >
                        @for(city in northCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div>
            <div style="margin-bottom: 10px"><strong>华东地区</strong></div>
            <a href="/?area=上海"><strong><span style="color: #303439">上海</span></strong></a>&emsp;
            <table class="table-responsive">
                @for(eastCity in eastCityList){
                <tr>
                    <th width="65px">${eastCity.province}：</th>
                    <td >
                        @for(city in eastCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div>
            <div style="margin-bottom: 10px"><strong>华中地区</strong></div>
            <table class="table-responsive">
                @for(centerCity in centerCityList){
                <tr>
                    <th width="65px">${centerCity.province}：</th>
                    <td >
                        @for(city in centerCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div>
            <div style="margin-bottom: 10px"> <strong>东北地区</strong></div>
            <table class="table-responsive">
                @for(southwestCity in southwestCityList){
                <tr>
                    <th width="65px">${southwestCity.province}：</th>
                    <td >
                        @for(city in southwestCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div>
            <div style="margin-bottom: 10px"><strong>西南地区</strong></div>
            <a href="/"><strong><span style="color: #303439">重庆</span></strong></a>&emsp;
            <table class="table-responsive">
                @for(northwestCity in northwestCityList){
                <tr>
                    <th width="65px">${northwestCity.province}：</th>
                    <td >
                        @for(city in northwestCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
        <hr style=" border-top:1px dotted #9aa18c;" >
        <div style="margin-bottom: 30px">
            <div style="margin-bottom: 10px"><strong>西北地区</strong></div>
            <table class="table-responsive">
                @for(southwestCity in southwestCityList){
                <tr>
                    <th width="65px">${southwestCity.province}：</th>
                    <td >
                        @for(city in southwestCity.city){
                        <a href="/?area=${city}"><span style="color: #303439">${city}</span></a>&emsp;
                        @}
                    </td>
                </tr>
                @}
            </table>
        </div>
    </div>

</div>
@include("../_footer.html"){}


</body>
</html>