<!DOCTYPE html>
<html lang="en">
<head>
    <title>专利信息_重庆恭逸科技有限公司</title>
    <meta name=”Keywords” content=”体脂检测智能马桶，尿检智能马桶盖，便检智能马桶座便器”/>
    <meta name="Description" content="本页为您详细介绍恭逸智能马桶，智能马桶盖, 智能座便器的功能。包括体脂检测、智能清洗、尿检、便检、按摩、烘干等，了解更多功能,请点击访问"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstrap-css -->
    <link href="${ctxPath}/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!--// bootstrap-css -->
    <link rel="icon" type="image/x-icon" href="${ctxPath}/static/faviconTitle.ico"/>
    <!-- css -->
    <link rel="stylesheet" href="${ctxPath}/static/css/style.css" type="text/css" media="all"/>
    <link href="${ctxPath}/static/css/zhyd.comment.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/zhyd.core.css" rel="stylesheet">
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="${ctxPath}/static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="${ctxPath}/static/js/jquery-1.11.1.min.js"></script>
    <script src="${ctxPath}/static/js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
@include("../_header.html",{current:'功能分类'}){}
<div class="banner-top visible-lg-block visible-md-block"
     style="height: 570px;background: url('/static/images/mobile/fuctionclass/banner.jpg') no-repeat 0 0;background-size: cover ">
</div>
<div class="banner-top visible-xs-block visible-sm-block"
     style="height: 300px;background: url('/static/images/mobile/function/banner.jpg') no-repeat 0;background-size: cover ">
</div>
<div class="container-fluid " style="background-color: #E5E5E5;padding: 0">
    <div class="container ">
        @for(patentInfo in patentInfos){
        <div style="margin: 20px 0px">
            <div style="">
                <span class="mobile-title1">EXAMINAIION</span>
                <span class="mobile-title2">${patentInfo.patentName}</span>
            </div>
            <div class="mobile-function-description">
                <div style="font-size: 15px;color:#8c8c8c;margin-top: 15px">
                    <span style="display: block">外观证书设计名称：<span id="patentName">${patentInfo.patentName}</span></span>
                    <span style="display: block">专利号：<span id="patentCode">${patentInfo.patentCode}</span></span>
                    <span style="display: block">申请日：<span id="applyDate">${patentInfo.applyDate}</span></span>
                    <span style="display: block">专利权人：<span id="patentee">${patentInfo.patentee}</span></span>
                </div>
            </div>
            <div style="width: 100%">
                <img src="${patentInfo.pic}" style="width: 100%;height: auto">
            </div>
        </div>
        @}
    </div>
</div>
<!-- footer -->
@include("../_footer.html"){}
<!-- //footer -->
<script src="${ctxPath}/static/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/move-top.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/easing.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/scroller-menu.js"></script>
</body>
</html>