<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.company.mapper.HotWordMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.website.company.entity.HotWord">
        <id column="id" property="id"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="word" property="word"/>
        <result column="style" property="style"/>
        <result column="frequency" property="frequency"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_datetime, update_datetime, word, style,frequency
    </sql>

    <select id="getHot" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hot_word h order by h.frequency desc limit #{num};
    </select>

    <select id="getHotListPage" resultMap="BaseResultMap">
        select h.word from hot_word h where h.id>
        (select t.id from hot_word t limit ${pages},1)
        order by h.frequency desc , h.create_datetime desc
        limit ${row};
    </select>

</mapper>