<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.company.mapper.NavigationMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.website.company.entity.Navigation">
        <id column="id" property="id"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="nav_desc" property="navDesc"/>
        <result column="nav_level" property="navLevel"/>
        <result column="nav_name" property="navName"/>
        <result column="nav_url" property="navUrl"/>
        <result column="nav_keywords" property="navKeywords"/>
        <result column="nav_title" property="navTitle"/>
        <result column="div_name" property="divName"/>
        <result column="div_desc" property="divDesc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_datetime, update_datetime, nav_desc, nav_level, nav_name,
        nav_url,nav_keywords,nav_title,div_name,div_desc
    </sql>

    <select id="getNavList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from navigation n order by n.nav_level
    </select>

    <select id="getNavByUtl" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from navigation
        where nav_url = #{urlString} limit 1
    </select>

</mapper>
