<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.company.mapper.SpannerMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.website.company.entity.Spanner">
        <id column="id" property="id"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="pic" property="pic"/>
        <result column="mobile_pic" property="mobilePic"/>
        <result column="belong_to_who" property="belongToWho"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_datetime, update_datetime, pic, mobile_pic,belong_to_who
    </sql>

	<select id="selectSpannerList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from spanner
		order by update_datetime desc
	</select>

</mapper>
